@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Tilt+Warp&display=swap');



.container {

  background-color: #F9F4EB;
  columns: 5 ;
  font-family: 'Golos Text', sans-serif;
  font-family: 'Tilt Warp', cursive;
  font-size: 100%;
  margin: auto;
}

.pokemon {
  background-color: blue;

  display: block;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

.pokemon img{
  /* background-color: green; */
  background-color: #F9F4EB;
  display: block;
  margin: 0 auto;

}


.pokemon button{

  background-color: #F9F4EB;
  border-radius: 20px;
  border: 0;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}