
.container {
  columns: 3;
  
}

.pokemon {
  margin: 10px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;

}

.pokemon img{
  display: block;
  margin: 0 auto;
  /* width: 200px;
  height: 200px; */
}
