.pokemonCard {
    background-color: #FFCB03;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
   
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.pokemonCard ul{
    list-style: none;
    padding: 0;
}
